<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.isomorphisms.appendfat.arena"
    android:versionCode="1"
    android:versionName="0.1-c67-sandbox">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="34" />
    <application
        android:allowBackup="false"
        android:debuggable="true"
        android:extractNativeLibs="true"
        android:hasCode="false"
        android:label="appendFAT Arena C67"
        android:theme="@android:style/Theme.Material.NoActionBar">
        <activity
            android:name="android.app.NativeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true">
            <meta-data android:name="android.app.lib_name" android:value="appendfat_arena_app" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
